<app-nav></app-nav>
<div class="container">
    <div class="row m-5">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 class="text-secondary">Book Entry</h1>
                    <hr>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Book Title</label>
                    <input name="title" [(ngModel)]="title" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Author</label>
                    <input name="Auther" [(ngModel)]="Auther" type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">publisher</label>
                    <input name="publisher" [(ngModel)]="publisher" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Language</label>
                    <input name="Language" [(ngModel)]="Language" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Distributer</label>
                    <input name="Distributer" [(ngModel)]="Distributer" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Price</label>
                    <input name="price" [(ngModel)]="price" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Upload image</label>
                    <input name="image" [(ngModel)]="image" type="file" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Relesed Year</label>
                    <input name="Relesed_Year" [(ngModel)]="Relesed_Year" type="date" name="" id="" class="form-control">
                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <div >
                        <button (click)="readValue()" class="btn btn-success btn-lg" type="button">Register</button>
                      </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
