<div class="container">
    <div class="row div col col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-5 g-5 m-5">
        <div class="row p-5 mt-5 ">
            <div class="col col col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>
            <div class="col col col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 card shadow g-5 p-5 " style="border-radius:15px;width: 450px;">
                <form>
                    <div class="form-outline mb-4">
                        <h2 class=".text-center">Admin Login</h2>
                    </div>
                    <div class="form-outline mb-4">
                    <label class="form-label" for="">Username:</label>
                      <input type="email" class="form-control" />
                      
                    </div>
                  
                
                    <div class="form-outline mb-4">
                      <label class="form-label">Password</label>
                      <input type="password"  class="form-control" />
                    </div>
                    <div class="form-out-line mb-1">
                        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
                    </div>
                  
                    
                    <div class="row mb-2">
                      <div class="col">
                      </div>
                  
                      <div class="col">
                        <a routerLink="/user_signup">User Signup</a>
                      </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col ">
                        </div>
                    
                        <div class="col">
                          <a routerLink="/user_login">User Login</a>
                        </div>
                      </div>
                    
                  </form>
            </div>
            <div class="col col col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3"></div>

          
        </div>
    </div>
</div>