<app-nav></app-nav>

<div class="container">
    <div class="row tex">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12 ">
            <div class="row g-5 mt-5 p-2 ">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <h1 class="text-secondary">Book Issue</h1>
                    <hr>
                </div>
                <div class="row  mt-3">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label ">Name</label>
                        <input name="Name" [(ngModel)]="Name" type="text" class="form-control">
                    </div>
                </div>

                <div class="row mt-3">

                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Book Title</label>
                        <input name="Book_Title" [(ngModel)]="Book_Title" type="text" class="form-control">
                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Date Of Issue</label>
                        <input name="Date_Of_Issue" [(ngModel)]="Date_Of_Issue" type="date" name="" id="" class="form-control">
                    </div>
                    
                </div>
                <div class="row mt-3">

                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Membership No</label>
                        <input name="Membership_No" [(ngModel)]="Membership_No" type="text" class="form-control">
                        <button (click)="readValue()" class="btn btn-success mt-3">Register</button>
                    </div>
                    
                </div>
                
                 
               
               
            </div>
        </div>
    </div>
</div>
